branches:
  # whitelist
  only:
    - master

version: 1.0.{build}
image: Visual Studio 2017
configuration: Release
before_build:
  - nuget restore
build:
  project: Graphical.sln
  verbosity: minimal
